/Alkoholimyyntitilasto_tammi_joulukuu_2017.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2018.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2019.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2020.xlsx
sun2017-HEL.csv
sun2018-HEL.csv
sun2019-HEL.csv
sun2020-HEL.csv
weather2020-HEL.csv