/Alkoholimyyntitilasto_tammi_joulukuu_2017.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2018.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2019.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2020.xlsx
/Alkoholimyyntitilasto_tammi_joulukuu_2016.xlsx
/Alkoholimyyntitilasto_tammi_heinakuu_2021.xlsx
sun2017-HEL.csv
sun2018-HEL.csv
sun2019-HEL.csv
sun2020-HEL.csv
sun2017-JYV.csv
sun2018-JYV.csv
sun2019-JYV.csv
sun2020-JYV.csv
sun2017-JOE.csv
sun2018-JOE.csv
sun2019-JOE.csv
sun2020-JOE.csv

weather2017-OULU.csv
weather2018-OULU.csv
weather2019-OULU.csv
weather2020-OULU.csv
weather2017-JYV.csv
weather2018-JYV.csv
weather2019-JYV.csv
weather2020-JYV.csv

weather2017-HEL.csv
weather2018-HEL.csv
weather2019-HEL.csv
weather2020-HEL.csv
